<div class="card mb-5">
    <p-menubar>
        <ng-template pTemplate="start">
            <img src="../../../assets/images/logo.png" height="40" class="mr-2" />
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center" *ngIf="isAuthenticated">
                <p-button class="mr-3" icon="pi pi-sign-out" (onClick)="logout()" type="p-button" label="Logout"></p-button>
                <span class="mr-2 text-xl text-medium">{{ username }}</span>
            </div>
        </ng-template>
    </p-menubar>
</div>