<div class="flex flex-column">
    <p class="text-xl text-justify">
        <span class="font-bold">{{ username }}</span> played a +4. If you think they have <span class="font-bold {{ cardColor }}">{{ cardText }}</span> card in their hand.
        You can challenge them for a chance to make them draw cards instead!
    </p>
    <div class="flex flex-row justify-content-evenly">
        <p-button (click)="challenge(false)" label="Draw 4"></p-button>
        <p-button pTooltip="Correct +0, Wrong +6" tooltipPosition="bottom" (click)="challenge(true)" label="Challenge"></p-button>
    </div>
</div>