<div class="card" class="h-full w-full flex flex-column align-items-center">
    <img [style]="{'width': '18rem'}" src="../../../assets/images/logo.png" alt="ICHI logo">
    <p-card [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <form [formGroup]="playerForm" (ngSubmit)="onSubmit()" class="w-full">
            <div class="field" [ngClass]="{'ng-invalid': playerForm.controls['nickname'].invalid && (playerForm.controls['nickname'].dirty || playerForm.controls['nickname'].touched), 'ng-dirty': playerForm.controls['nickname'].dirty}">
                <span class="p-float-label">
                    <input type="text" id="nickname" formControlName="nickname" pInputText [style]="{'width': '100%'}">
                    <label for="nickname">Your nickname is...</label>
                </span>
                <div *ngIf="playerForm.controls['nickname'].invalid && (playerForm.controls['nickname'].dirty || playerForm.controls['nickname'].touched)"
                    class="alert">
                    <small *ngIf="playerForm.controls['nickname'].errors?.['required']" class="text-red-600 pl-1">
                        Please enter a valid nickname
                    </small>
                </div>
            </div>
            <div>
                <p-button type="submit" styleClass="w-full mt-2" label="Enter"></p-button>
            </div>
        </form>
    </p-card>
</div>