<div
  *ngIf="!joined"
  class="card"
  class="h-full w-full flex flex-column align-items-center"
>
  <p-card [style]="{ width: '25rem', 'margin-bottom': '2em' }">
    <div>
      <h3 class="mb-0">Create a game room</h3>
      <hr class="mt-0" />
      <p-button
        type="p-button"
        (onClick)="createGame()"
        styleClass="w-full"
        label="Create"
      ></p-button>
    </div>
    <div>
      <h3 class="mb-0">Join a game room</h3>
      <hr class="mt-0" />
      <form [formGroup]="joinGameForm" (ngSubmit)="joinGame()" class="w-full">
        <div
          class="formgrid grid mt-4"
          [ngClass]="{
            'ng-invalid':
              joinGameForm.controls['code'].invalid &&
              (joinGameForm.controls['code'].dirty ||
                joinGameForm.controls['code'].touched),
            'ng-dirty': joinGameForm.controls['code'].dirty
          }"
        >
          <div class="field col w-full">
            <span class="p-float-label">
              <input
                type="text"
                id="code"
                maxlength="6"
                formControlName="code"
                pInputText
              />
              <label for="code">Enter code</label>
            </span>
            <div
              *ngIf="
                joinGameForm.controls['code'].invalid &&
                (joinGameForm.controls['code'].dirty ||
                  joinGameForm.controls['code'].touched)
              "
              class="alert"
            >
              <small
                *ngIf="joinGameForm.controls['code'].errors?.['required']"
                class="text-red-600 pl-1"
              >
                Please enter a valid code
              </small>
            </div>
          </div>
          <div class="field col">
            <p-button
              [style]="{ width: '100%' }"
              [disabled]="joinGameForm.invalid"
              type="submit"
              label="Join"
            ></p-button>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>

<div
  *ngIf="joined && !started"
  class="card"
  class="h-full w-full flex flex-column align-items-center"
>
  <p-card [style]="{ width: '25rem', 'margin-bottom': '2em' }">
    <p-button
      (onClick)="leaveGame()"
      icon="pi pi-arrow-circle-left"
      styleClass="p-button-secondary p-button-outlined mb-3"
      type="p-button"
      label="Leave game"
    ></p-button>
    <p-table [value]="players" styleClass="p-datatable-gridlines mb-3">
      <ng-template pTemplate="caption">
        Game room code: {{ code }}
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Username</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-player>
        <tr>
          <td class="text-center">
            <i *ngIf="player.isCreator" class="pi pi-wrench"></i>
          </td>
          <td>{{ player.username }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-button
      [style]="{ width: '100%' }"
      (onClick)="startGame()"
      [disabled]="players.length < 2"
      type="p-button"
      label="Start game"
    ></p-button>
  </p-card>
</div>

<div class="game" *ngIf="joined && started">
  <div class="game-field perspective red">
    <div id="player">
      (You) ({{ playerHand.length }})
      <div class="player_hand">
        <div *ngFor="let card of playerHand; let i = index" class="card" [style]="getCardStyle(card)">
          <div class="bckg"></div>
        </div>
      </div>
    </div>
    <div *ngFor="let player of playerCards; let i = index" [id]="playerPos[i]">
      {{ player.username }} ({{ player.cardsCount }})
      <div class="player_hand">
        <div *ngFor="let index of [].constructor(player.cardsCount)" class="card turned">
          <div class="bckg"></div>
        </div>
      </div>
    </div>
    <div id="piles_area">
      <div id="draw_pile">
        <div class="card turned top-card">
          <div class="bckg"></div>
        </div>
        <div class="card turned pile">
          <div class="bckg"></div>
        </div>
      </div>
      <div id="discard_pile">
        <div class="card top-card" [style]="getCardStyle(playedCard)">
          <div class="bckg"></div>
        </div>
        <div class="card pile">
          <div class="bckg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
