.game {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  perspective: 100em;
}

/* CARDS STYLES */
.card {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.8em;
  padding: 0.3em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 200ms;
  position: relative;
}

.card .bckg {
  width: 5em;
  height: 7.678500000000001em;
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
}

.card.turned:hover {
  cursor: default;
}

.card.turned {
  cursor: default;
  background: url(/assets/images/card-back.png) center/cover;
}

.card.turned .bckg::before {
  background-color: transparent;
}

.game-field #piles_area {
  position: relative;
  border-radius: 4em;
  transition: 200ms;
}

.game-field.Y #piles_area {
  background-color: rgba(252, 246, 4, 0.4);
}

.game-field.B #piles_area {
  background-color: rgba(4, 147, 222, 0.4);
}

.game-field.R #piles_area {
  background-color: rgba(220, 37, 28, 0.4);
}

.game-field.G #piles_area {
  background-color: rgba(1, 141, 65, 0.4);
}

#piles_area #direction {
  will-change: transform;
  background: url(/assets/images/direction.svg) center/cover;
  position: absolute;
  opacity: 0.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.reverse {
  transform: scaleX(-1);
}

#draw_pile {
  position: absolute;
  left: 5em;
  top: 5em;
}

#draw_pile .card.top-card,
#draw_pile .card.pile {
  position: absolute;
}

#draw_pile .card.pile {
  box-shadow: 0px 2px #fff, 0px 4px rgba(0, 0, 0, 0.16), 0px 6px #fff,
    0px 8px rgba(0, 0, 0, 0.16), 0px 10px #fff, 0px 12px rgba(0, 0, 0, 0.16),
    0px 14px #fff, 0px 16px rgba(0, 0, 0, 0.16), 0px 18px #fff,
    0px 20px rgba(0, 0, 0, 0.16);
}

#draw_pile .card.pile:hover {
  transform: none;
}

#draw_pile .card.top-card {
  z-index: 100;
  box-shadow: none;
}

#draw_pile .card.top-card:hover {
  box-shadow: 0px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transform: translateY(1em);
}

#discard_pile {
  position: absolute;
  left: 12em;
  top: 5.7em;
}

#discard_pile .card.top-card,
#discard_pile .card.pile {
  position: absolute;
}

#discard_pile .card.pile {
  box-shadow: 0px 2px #fff, 0px 4px rgba(0, 0, 0, 0.16), 0px 6px #fff,
    0px 8px rgba(0, 0, 0, 0.16);
}

#discard_pile .card.pile:hover {
  transform: none;
}

#discard_pile .card.top-card {
  z-index: 100;
  box-shadow: none;
}

.game-field {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 0.5em;
  grid-template-columns: 12em 24em 12em;
  grid-template-rows: 12em 24em 12em;
}

.game-field.perspective {
  transform: rotateX(30deg);
}

#piles_area {
  grid-area: 2/2;
}

#player {
  grid-area: 3/2;
}

#player_left {
  grid-area: 2/1;
}

#player_top {
  grid-area: 1/2;
}

#player_right {
  grid-area: 2/3;
}

.player_hand {
  position: relative;
}

.player_hand .card {
  position: absolute;
}

#player .player_hand .card {
  cursor: pointer;
}

#player .player_hand .card:hover {
  transform-origin: left bottom;
  transform: rotate(-10deg) translateY(-0.5em);
}

#player .player_hand .card:hover ~ .card {
  transform: translateX(2em);
}

#player_left .player_hand {
  transform-origin: left bottom;
  transform: rotate(90deg) translateY(-10em);
}

#player_top .player_hand {
  transform: translateY(1em);
}

#player_right .player_hand {
  transform-origin: left bottom;
  transform: rotate(-90deg) translate(-24em, 1em);
}

@keyframes moveCardToDeck {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(5em, -5em);
  }
}

.card.move-to-deck {
  animation: moveCardToDeck 0.5s ease-in-out;
}

.player_hand .card.turned:nth-child(1) {
  left: 2.2em;
}

.player_hand .card.turned:nth-child(2) {
  left: calc(2.2em * 2);
}

.player_hand .card.turned:nth-child(3) {
  left: calc(2.2em * 3);
}

.player_hand .card.turned:nth-child(4) {
  left: calc(2.2em * 4);
}

.player_hand .card.turned:nth-child(5) {
  left: calc(2.2em * 5);
}

.player_hand .card.turned:nth-child(6) {
  left: calc(2.2em * 6);
}

.player_hand .card.turned:nth-child(7) {
  left: calc(2.2em * 7);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* RED */
.zeroR {
  background: url(/assets/images/cards-front/zeroR.png) center/cover;
  
}

.oneR {
  background: url(/assets/images/cards-front/oneR.png) center/cover;
  
}

.twoR {
  background: url(/assets/images/cards-front/twoR.png) center/cover;
  
}

.threeR {
  background: url(/assets/images/cards-front/threeR.png) center/cover;
  
}

.fourR {
  background: url(/assets/images/cards-front/fourR.png) center/cover;
  
}

.fiveR {
  background: url(/assets/images/cards-front/fiveR.png) center/cover;
  
}

.sixR {
  background: url(/assets/images/cards-front/sixR.png) center/cover;
  
}

.sevenR {
  background: url(/assets/images/cards-front/sevenR.png) center/cover;
  
}

.eightR {
  background: url(/assets/images/cards-front/eightR.png) center/cover;
  
}

.nineR {
  background: url(/assets/images/cards-front/nineR.png) center/cover;
  
}

.skipR {
  background: url(/assets/images/cards-front/skipR.png) center/cover;
  
}

.reverseR {
  background: url(/assets/images/cards-front/reverseR.png) center/cover;
  
}

.draw2R {
  background: url(/assets/images/cards-front/draw2R.png) center/cover;
  
}

.draw4R {
  background: url(/assets/images/cards-front/draw4R.png) center/cover;
  
}

.changeColorR {
  background: url(/assets/images/cards-front/changeColorR.png) center/cover;
  
}

/* BLUE */ 
.zeroB {
  background: url(/assets/images/cards-front/zeroB.png) center/cover;
  
}

.oneB {
  background: url(/assets/images/cards-front/oneB.png) center/cover;
  
}

.twoB {
  background: url(/assets/images/cards-front/twoB.png) center/cover;
  
}

.threeB {
  background: url(/assets/images/cards-front/threeB.png) center/cover;
  
}

.fourB {
  background: url(/assets/images/cards-front/fourB.png) center/cover;
  
}

.fiveB {
  background: url(/assets/images/cards-front/fiveB.png) center/cover;
  
}

.sixB {
  background: url(/assets/images/cards-front/sixB.png) center/cover;
  
}

.sevenB {
  background: url(/assets/images/cards-front/sevenB.png) center/cover;
  
}

.eightB {
  background: url(/assets/images/cards-front/eightB.png) center/cover;
  
}

.nineB {
  background: url(/assets/images/cards-front/nineB.png) center/cover;
  
}

.skipB {
  background: url(/assets/images/cards-front/skipB.png) center/cover;
  
}

.reverseB {
  background: url(/assets/images/cards-front/reverseB.png) center/cover;
  
}

.draw2B {
  background: url(/assets/images/cards-front/draw2B.png) center/cover;
  
}

.draw4B {
  background: url(/assets/images/cards-front/draw4B.png) center/cover;
  
}

.changeColorB {
  background: url(/assets/images/cards-front/changeColorB.png) center/cover;
  
}

/* GREEN */
.zeroG {
  background: url(/assets/images/cards-front/zeroG.png) center/cover;
  
}

.oneG {
  background: url(/assets/images/cards-front/oneG.png) center/cover;
  
}

.twoG {
  background: url(/assets/images/cards-front/twoG.png) center/cover;
  
}

.threeG {
  background: url(/assets/images/cards-front/threeG.png) center/cover;
  
}

.fourG {
  background: url(/assets/images/cards-front/fourG.png) center/cover;
  
}

.fiveG {
  background: url(/assets/images/cards-front/fiveG.png) center/cover;
  
}

.sixG {
  background: url(/assets/images/cards-front/sixG.png) center/cover;
  
}

.sevenG {
  background: url(/assets/images/cards-front/sevenG.png) center/cover;
  
}

.eightG {
  background: url(/assets/images/cards-front/eightG.png) center/cover;
  
}

.nineG {
  background: url(/assets/images/cards-front/nineG.png) center/cover;
  
}

.skipG {
  background: url(/assets/images/cards-front/skipG.png) center/cover;
  
}

.reverseG {
  background: url(/assets/images/cards-front/reverseG.png) center/cover;
  
}

.draw2G {
  background: url(/assets/images/cards-front/draw2G.png) center/cover;
  
}

.draw4G {
  background: url(/assets/images/cards-front/draw4G.png) center/cover;
  
}

.changeColorG {
  background: url(/assets/images/cards-front/changeColorG.png) center/cover;
  
}

/* YELLOW */
.zeroY {
  background: url(/assets/images/cards-front/zeroY.png) center/cover;
  
}

.oneY {
  background: url(/assets/images/cards-front/oneY.png) center/cover;
  
}

.twoY {
  background: url(/assets/images/cards-front/twoY.png) center/cover;
  
}

.threeY {
  background: url(/assets/images/cards-front/threeY.png) center/cover;
  
}

.fourY {
  background: url(/assets/images/cards-front/fourY.png) center/cover;
  
}

.fiveY {
  background: url(/assets/images/cards-front/fiveY.png) center/cover;
  
}

.sixY {
  background: url(/assets/images/cards-front/sixY.png) center/cover;
  
}

.sevenY {
  background: url(/assets/images/cards-front/sevenY.png) center/cover;
  
}

.eightY {
  background: url(/assets/images/cards-front/eightY.png) center/cover;
  
}

.nineY {
  background: url(/assets/images/cards-front/nineY.png) center/cover;
  
}

.skipY {
  background: url(/assets/images/cards-front/skipY.png) center/cover;
  
}

.reverseY {
  background: url(/assets/images/cards-front/reverseY.png) center/cover;
  
}

.draw2Y {
  background: url(/assets/images/cards-front/draw2Y.png) center/cover;
  
}

.draw4Y {
  background: url(/assets/images/cards-front/draw4Y.png) center/cover;
  
}

.changeColorY {
  background: url(/assets/images/cards-front/changeColorY.png) center/cover;
  
}

/* SPECIAL */
.draw4W {
  background: url(/assets/images/cards-front/draw4W.png) center/cover;
  
}

.changeColorW {
  background: url(/assets/images/cards-front/changeColorW.png) center/cover;
  
}

.pi.pi-copy {
  font-size: 18px;
}

.pi.pi-copy:hover {
  opacity: 0.5;
  cursor: pointer;
}
