@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "node_modules/primeflex/primeflex.css";
@import "node_modules/ngx-toastr/toastr.css";

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom, #bb8f90, #b58893, #ab8296, #9f7e99, #8f7a9c, #897ca1, #837ea6, #7b81aa, #7f89b4, #8391be, #8799c9, #8aa1d3);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.toast-top-right {
  right: 10px !important;
}

.toast-container {
  top: 75px !important;
}

.p-card-content {
  padding: 0px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: black;
  margin: 8px 0px;
}

.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}